:root{
    --primary-color: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
    min-height: 10dvh;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 1.2rem;
    margin: 10px auto;
    font-size: 1.1rem;
    background: #1f1f1f;
    border-radius: .8rem;
}

fieldset{
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
}

label, legend{
    user-select: none;
    color:var(--primary-color);
}

select{
    color: var(--primary-color);
}

select:focus{
    outline: 1px solid #fff;
}

option{
    background: rgb(0, 0, 0);
    color: var(--primary-color);
}

#name, #email, #number, select, textarea{
    width: 100%;
    padding: 0.8rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
}

input, textarea, ::placeholder{
    color: var(--primary-color);
}

textarea{
    min-height: 5dvh;
    font-family: inherit;
    resize: none;
    scrollbar-width: none;
}

button{
    padding: .8rem 5rem;
    border-radius: 2rem;
    border: 1px solid #028FD5;
    margin-top: 10px;
    background: #2595b8;
    color: var(--primary-color)
}

#name, #email, #number, textarea:focus-visible{
    outline: none;
}

.reseña{
    position: relative;
}

.contador{
    display: inline-block;
    color: var(--primary-color);
    position: absolute;
    bottom: 0;
    right: 10px;
    transform: translateY(10px);
}

@media (max-width: 900px){
    
    .form{
       width: 95%;
    }
    
    fieldset{
        width: 100%;
    }

    button{
        padding: .7rem 4rem;
    }

    label , legend{
        font-size: 1rem;
    }
}

