:root{
    --primary-color: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #01838f;
}

.header{
    display: flex;
    flex-direction: column;
    min-height: 10dvh;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: var(--primary-color);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 2rem;
    margin: 10px auto;
    border: 1px solid rgb(238, 255, 0);
    font-size: 1.1rem;
}

fieldset{
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
}

label{
    user-select: none;
}

select{
    color: var(--primary-color);
}

select:focus{
    outline: 1px solid #fff;
}

option{
    background: rgb(0, 0, 0);
    color: var(--primary-color);
}

#name, #email, #number, select, textarea{
    width: 100%;
    padding: 0.5rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}

input, textarea, ::placeholder{
    color: var(--primary-color);
}

textarea{
    min-height: 5dvh;
    font-family: inherit;
    resize: none;
    overflow: scroll;
    scrollbar-width: none;
}

button{
    padding: .8rem 5rem;
    border-radius: 2rem;
    margin-bottom: 5px;
    background: transparent;
}

#name, #email, #number, textarea:focus-visible{
    outline: none;
}

@media (max-width: 900px){
    
    .form{
       width: 90%;
    }
}

