*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 150dvh;
    background-color: rgb(8, 201, 121);
}

.header{
    display: flex;
    flex-direction: column;
    min-height: 10dvh;
    text-align: center;
    margin-top: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    border-radius: 20px;
    width: 80%;
    margin-top: 10px;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.185);
}

fieldset{
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;
}

#name, #email, #number, select, textarea{
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.075);
}

input, textarea, ::placeholder{
    color: rgb(255, 255, 255);
}

textarea{
    min-height: 10dvh;
    resize: none;
    overflow: scroll;
    scrollbar-width: none;
}

button{
    padding: 10px 80px;
    border-radius: 20px;
    margin-bottom: 5px;
}

#name, #email, #number, select, textarea:focus-visible{
    outline: none;
}

